<section id="services">
    <div class="wrap">
        <h2>Services</h2>

    </div>
    <div class="owl-carousel">
        <div class="card">
            <img src="../../assets/images/appsdesign.svg" alt="">
            <h4>Designing apps</h4>
            <p>Our specialists design various apps – mobile, internet-apps opening new possibilities in the business development</p>
            <span>1</span>
        </div>
        <div class="card">
            <img src="../../assets/images/cmsdesign.svg" alt="">
            <h4>Designing CMS apps</h4>
            <p>The term CMS is the system of content management. That’s why designing such apps allows to make the site dynamic
                and growing</p>
            <span>2</span>
        </div>
        <div class="card">
            <img src="../../assets/images/uiuxdesign.svg" alt="">
            <h4>UI/UX design</h4>
            <p>Professionals of our company will create the most convenient interface quickly and with a good quality. It will
                combine all necessary features for a convenient work</p>
            <span>3</span>
        </div>
        <div class="card">
            <img src="../../assets/images/audit.svg" alt="">
            <h4>Software auditing</h4>
            <p>The given service implies collecting necessary information about the software on the client’s PC as well as estimating
                and minimizing risks of its work in the future</p>
            <span>4</span>
        </div>
        <div class="card">
            <img src="../../assets/images/webmarketing.svg" alt="">
            <h4>Web-marketing</h4>
            <p>Our employees will perform all set of events allowing to promote any site or goods (service) and to make a trade
                mark more familiar to a consumer</p>
            <span>5</span>
        </div>
        <div class="card">
            <img src="../../assets/images/support.svg" alt="">
            <h4>Support</h4>
            <p>Our company renders a full support 24 hours a day 7 days a year to our clients. That means that our specialists
                will answer any question of interest or will solve the problem which arose, any time</p>
            <span>6</span>
        </div>
        <div class="card">
            <img src="../../assets/images/AI.svg" alt="">
            <h4>Artificial intelligence</h4>
            <p>Development of artificial intelligence for all kinds of tasks, during these tasks a system trains itself.</p>
            <span>7</span>
        </div>
        <div class="card">
            <img src="../../assets/images/AI.svg" alt="">
            <h4>Safety</h4>
            <p>Our team of specialists is working to improve the security of your resource against the penetration of an attacker, so that all your data is not accessible to unauthorized persons.</p>
            <span>8</span>
        </div>
    </div>
    <div class="langs">
        <div class="lang" [style.width]="width" [style.height]="width" (mouseleave)="hovered($event)">
            <div class="content"></div>
        </div>
        <div class="lang" [style.width]="width" [style.height]="width" (mouseleave)="hovered($event)">
            <div class="content"></div>
        </div>
        <div class="lang" [style.width]="width" [style.height]="width" (mouseleave)="hovered($event)">
            <div class="content"></div>
        </div>
        <div class="lang" [style.width]="width" [style.height]="width" (mouseleave)="hovered($event)">
            <div class="content"></div>
        </div>
        <div class="lang" [style.width]="width" [style.height]="width" (mouseleave)="hovered($event)">
            <div class="content"></div>
        </div>
        <div class="lang" [style.width]="width" [style.height]="width" (mouseleave)="hovered($event)">
            <div class="content"></div>
        </div>
        <div class="lang" [style.width]="width" [style.height]="width" (mouseleave)="hovered($event)">
            <div class="content"></div>
        </div>
        <div class="lang" [style.width]="width" [style.height]="width" (mouseleave)="hovered($event)">
            <div class="content"></div>
        </div>
        <div class="lang" [style.width]="width" [style.height]="width" (mouseleave)="hovered($event)">
            <div class="content"></div>
        </div>
        <div class="lang" [style.width]="width" [style.height]="width" (mouseleave)="hovered($event)">
            <div class="content"></div>
        </div>
        <div class="lang" [style.width]="width" [style.height]="width" (mouseleave)="hovered($event)">
            <div class="content"></div>
        </div>
        <div class="lang" [style.width]="width" [style.height]="width" (mouseleave)="hovered($event)">
            <div class="content"></div>
        </div>
    </div>
</section>
