$max-w: 1200px;

$h1-font-size: 2.625em;
$h2-font-size: 2em;
$h4-font-size: 1.25em;
$p-font-size: 1.25em;

$font-size: 16px;
$font-stack: 'Roboto', Arial, sans-serif;

$footer-bg-color: #3a478f;
$black: #000;
$card-text-color: #365069;

$xs-circle: 472px;
$s-circle: 672px;
$m-circle: 829px;
$l-circle: 992px;
